<div class="row">
	<div class="col">
		<h2 class="text-center">*ngIf</h2>
		<div class="card">
			<div *ngIf="mostrar" class="card-body">
				<h5 class="card-title">{{mensaje.autor}}</h5>
				<p class="card-text">{{mensaje.texto}}</p>
				
			</div>
			<div class="card-body">
				<button (click)="mostrar=!mostrar" href="#" class="btn btn-primary">Ocultar/Mostrar</button>
			</div>
		</div>
	</div>
	<div class="col">
		<h2 class="text-center">*ngFor</h2>
		<ul class="list-group">
			<li *ngFor="let personaje of personajes; let i = index" class="list-group-item">{{i+1}}.- {{personaje}}</li>
		</ul>
	</div>
</div>