aside#recientes
{
    width: 150px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}

section#principal
{
	width: 500px;
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
}