@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

section#top > * {
	display: block;
	position: relative;
	top: -5px;
}

section#top > ul {
	margin: 0px;
	padding: 0px;
}

section#top > time {
	float: left;
}

section#top > ul {
	display: inline-block;
	margin: 0 0 0 30%;

}

section#top > form {
	float: right;
}

ul {
	list-style: none;
	text-align: center;
}

ul li {
	display: inline-block;
}

section#top ul li {
	margin-left: 0%;
}

section#top ul li:nth-child(1) {
	background-image: url('../img/facebook.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
}

section#top ul li:nth-child(2) {
	background-image: url('../img/twitter.png');
	background-size: 41%;
	background-repeat: no-repeat;
	color: transparent;
}

section#top ul li:nth-child(3) {
	background-image: url('../img/instagram.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
}

/*Barra de navegación*/

nav {
	background-color: #033076;
	z-index: 99;
}

nav ul {
	text-align: left;
}

nav ul li {
	margin-left: 10%;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	font-family: "Helvetica";
}

nav ul li:hover {
	cursor: pointer;
}


body > header > h1 {
	text-align: center;
	font-weight: bold;
	font-family: 'Fugaz One', cursive;
	margin: 0px;
	color: #033076;
	font-size: 4.4em;
}

aside#recientes {
	padding: 0 0.1% 0;
}

aside#recientes article {
	margin: 0 auto 0 auto;
}

aside#recientes article header {
	display: inline-block;
    vertical-align: top;
}

aside#recientes article header h2 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 2% 0 0;
}


aside#recientes article time {
	font-size: 0.8em;
    position: relative;
    bottom: 23px;
}

section#principal {
	padding: 0px 11px 0px;
	border: 0px;
}

section#principal div p {
	height: 180px;
    line-height: 20px;
    overflow: hidden;
    text-align: justify;
}

aside#recientes::before {
	content: "Noticias Recientes";
	color: #033076;
    position: relative;
    bottom: 19px;
    font-size: 1.2em;
    background-color: white;
    font-weight: bold;
    padding: 7px;
    left: -3px;
}

footer {
	text-align: center;
	background-color: #033076;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}