* {
	box-sizing: border-box;
	
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-sm-"] {
    float: left;
    padding: 0.2%;
    margin: 0;
    /*border: 1px solid red;*/
}

section#top,
body > nav,
aside#recientes article:nth-child(6),
aside#recientes time,
div#texto1 > div,
section#editorial figure,
section#editorial a {
	display: none;
}