<div class="row mt-3 mb-3 border rounded">
    <section id="editorial" class="col-xl-12 col-12">
        <header class="row">
            <h4>Editorial</h4>
        </header>
        <div class="row pb-2">
            <article id="editorial1" class="col-xl-6 col-12">
                <div class="row">
                    <header class="edcabecera1 col-xl-12">
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </header>
                    <p class="col-xl-9 text-justify">
                        Lorem ipsum et non aliqua quis ut ea in irure esse ex do nostrud irure sint elit dolore duis nostrud dolor sed magna dolor consequat ut occaecat elit dolor enim voluptate proident tempor est exercitation nulla consequat dolore proident in eiusmod aute aliquip qui incididunt tempor commodo
                    </p>
                    <figure class="col-xl-3 d-none d-md-block">
                        <img src="https://via.placeholder.com/100x100" alt="" class="img-thumbnail">
                        <figcaption class="text-right font-weight-bold">Persona 2</figcaption>
                    </figure>
                    <div class="col-xl-12 d-none d-md-block">
                        <a href="" class="btn btn-outline-primary float-right">Leer</a>
                    </div>
                </div>
            </article>
            <article id="editorial1" class="col-xl-6 col-12">
                <div class="row">
                    <header class="edcabecera1 col-xl-12">
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </header>
                    <p class="col-xl-9 text-justify">
                        Lorem ipsum et non aliqua quis ut ea in irure esse ex do nostrud irure sint elit dolore duis nostrud dolor sed magna dolor consequat ut occaecat elit dolor enim voluptate proident tempor est exercitation nulla consequat dolore proident in eiusmod aute aliquip qui incididunt tempor commodo
                    </p>
                    <figure class="col-xl-3 d-none d-md-block">
                        <img src="https://via.placeholder.com/100x100" alt="" class="img-thumbnail">
                        <figcaption class="text-right font-weight-bold">Persona 2</figcaption>
                    </figure>
                    <div class="col-xl-12 d-none d-md-block">
                        <a href="" class="btn btn-outline-primary float-right">Leer</a>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>