<div class="container">
  <h1>Pipes</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Producto</th>
        <th scope="col">Pipe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td> uppercase </td>
        <td>{{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td> uppercase </td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td> slice:3 </td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td> slice:0:3 </td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <td>{{arreglo}}</td>
        <td> slice:1:3 </td>
        <td>{{ arreglo | slice:1:3 }}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td> decimal </td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td> decimal </td>
        <td>{{ PI | number:'1.3-3' }}</td>
      </tr>
      <tr>
        <td>{{a}}</td>
        <td> percent </td>
        <td>{{ a | percent:'4.0-0' }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td> currency </td>
        <td>{{ salario | currency }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td> currency </td>
        <td>{{ salario | currency:'EUR' }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td> currency </td>
        <td>{{ salario | currency:'EUR':false }}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td> number </td>
        <td>{{ salario | number:'.2-2' }}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td> date </td>
        <td>{{ fecha | date }}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td> date </td>
        <td>{{ fecha | date:'medium' }}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td> date </td>
        <td>{{ fecha | date:'MMMM - dd' }}</td>
      </tr>
      <tr>
        <td>{{nombre2}}</td>
        <td> date </td>
        <td>{{ nombre2 | capitalizado }}</td>
      </tr>
      <tr>
        <td>{{nombre2}}</td>
        <td> date </td>
        <td>{{ nombre2 | capitalizado:false }}</td>
      </tr>
      <tr>
        <td>nombre: {{nombre}}</td>
        <td> contrasena 
        </td>
        <td>{{ nombre | contrasena:true }}</td>
      </tr>
      <tr>
        <td>nombre: {{nombre}}</td>
        <td> contrasena:{{activar}} <br>
          <button (click)="activar=!activar" type="button" class="btn btn-outline-primary">Activar/Desactivar</button>
        </td>
        <td>{{ nombre | contrasena:activar }}</td>
      </tr>
    </tbody>
  </table>
  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:2:8">{{item}}</li>
  </ul>
  <h4>JSON</h4>
  <pre>
    {{ heroe | json }}
  </pre>
  <h4>Async</h4>
  {{valorPromesa | async }}

  <!-- <h4>Youtube</h4>
  <iframe width="560" height="315" src="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  
</div>