<div class="row">
    <section class="col-xl-12 border rounded mb-4">
        <header class="row">
            <h4>Fotorreportajes</h4>
        </header>
        <div id="fotos" class="row"> 
            <figure class="col-xl-4 col-6 text-center">
                <img src="https://via.placeholder.com/200x200" alt="" class="img-fluid img-thumbnail">
                <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </figure>
            <figure class="col-xl-4 col-6 text-center">
                <img src="https://via.placeholder.com/200x200" alt="" class="img-fluid img-thumbnail">
                <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </figure>
            <figure class="col-xl-4 col-6 text-center">
                <img src="https://via.placeholder.com/200x200" alt="" class="img-fluid img-thumbnail">
                <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </figure>
        </div>
    </section>
</div>